#app {
    overflow: hidden !important;
    height: 100vh;
}

#app .content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y;
}

#app .top nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 50px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.7);
}

#app .top nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
}

#app .top nav ul li {
    margin: 15px 20px;
}

/* 内容 */
#app .content section {
    display: flex;
    /*换行*/
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    color: floralwhite;

    scroll-snap-align: center;
}

#app .content section#home {
    background: url("http://p2.qhimg.com/bdr/__85/t018af1961351b137ec.jpg") no-repeat center center/cover;
}

#app .content section#recommend {
    background: url("http://p4.qhimg.com/bdr/__85/t01fe6dc25f3dd3d30d.jpg") no-repeat center center/cover;
}

#app .content section#ropular {
    background: url("http://p0.qhimg.com/bdr/__85/t011b864f16749f9868.jpg") no-repeat center center/cover;
}

#app .content section#serve {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url("http://p4.qhimg.com/bdr/__85/t019a8699854767bd4a.jpg") no-repeat center center/cover;

}

.content section div h1 {
    font-size: 3rem;
    padding: 10px 0;
}

.content section div p {
    font-size: 1.5rem;
}


section#serve div #id-h2 {
    color: seagreen;

}


.scene {
    margin: 20px 0;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    -webkit-perspective: 800px;
    perspective: 800px;
}

.scene .card {
    position: relative;
    border-radius: 10%;
    overflow: hidden;
    width: 240px;
    height: 300px;
    color: white;
    cursor: pointer;
    transition: 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.scene .card:hover {
    -webkit-transform: rotateY(0.5turn);
    transform: rotateY(0.5turn);
}

.scene .card .card__face {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: 1s ease-in-out;
    -webkit-box-reflect: below 0 linear-gradient(transparent, transparent, rgba(0, 0, 0, 0.4));
}

.scene .card .card__face img {
    width: 240px;
    height: 300px;
    -o-object-fit: cover;
    object-fit: cover;
}

.scene .card .card__face--back {
    -webkit-transform: rotateY(0.5turn);
    transform: rotateY(0.5turn);
}